.card-grid {
  max-height:500px;
  min-height: 500px;
  /* min-w  idth: 515px; */
  overflow-y: auto;  
  overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
  }
  

  

  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
}
  