.filter {
    display: flex;
    flex-direction: column;
  }
  .filter{
    color: #000000
  }
.price-filter{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* box-sizing: border-box; */
}
input[type="number"]{
width: 100px;
background-color: white;
outline: 1px solid #ccc;
color: black;
}
  .filterheader{
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-bottom: 5px;
    align-items: center;
  }
  
  .filter h3 {
    margin-bottom: 10px;
  }
  
  .filter-option {
    margin-bottom: 10px;
  }
  
  .filter-option input {
    margin-right: 10px;
  }
  @media (max-width: 768px) {
    .app-layout {
      grid-template-columns: 1fr;
    }
  .filter-option label{
    margin-top: 0px;
    padding: 0px;
  }
  h5{
    margin-top: 5px;
    margin-bottom: 5px;

  }
    .filter-section {
      margin-bottom: 0px;
    }
      /* .filter-option {
        display: flex;
        justify-content: center;
      } */
    .filter-option-container{
      display: flex;
      gap: 10px;
      /* flex-direction: column; */
    }
  }
    